@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

.bg-banner {
    position: relative;
    overflow: hidden;
}

.bg-banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/banner.png");
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1;
}
